// Colors
$colors: (
  primary: #333,
  secondary: rgb(226, 226, 222),
  tertiary: #f2f0f1,
  quaternary: lightgray,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// font sizes

$font-sizes: (
  xl: 3rem,
  lg: 2.5rem,
  md: 2rem,
  sm: 1.8rem,
  xs: 1.6rem,
);

@function size($size) {
  @return map-get($font-sizes, $size);
}
